<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
<form name="punchout_form" method="post" action="https://openapi.alipaydev.com/gateway.do?charset
=UTF-8&method=alipay.trade.page.pay&sign=hesJCjKObjfv1HVf1vLrED34T1G09gO86R82KBohiJSMcn063n%
2BJhXPiWoNyzyGIgQw%2FZft0SpcYkYvKYKHvIe1Z6557%2Fv%2BusWAu6Y7ZM6mCMYW6uTfl%2FPZd0CL9m
bhMCK4uoxMv6DPBMqQRz1CaiY5%2BSV%2B1gPOQ7dlOyLyOZd0S50EINgasOLElIH7rCBAt8Ewo4GUsVNO83
DJ0bIUGomqJt9hGy4Dgm42upiRESFG%2B%2Bmj%2FdgLaHTRkiJmjGWnmutOxFUanWz7S53cFaUA62bgG4Pxg
oSv5mB2wIasb4cff9yUacmzTaPEJcBNShzwz0uuH2wKnGunpgurtZCRNSw%3D%3D&version=1.0&app_id=201
6100100642053&sign_type=RSA2&timestamp=2019-07-18+16%3A12%3A48&alipay_sdk=alipay-sdk-java-3.7.
2&format=json">
<input type="hidden" name="biz_content" value="{&quot;out_trade_no&quot;:&quot;nul
l&quot;,&quot;total_amount&quot;:&quot;null&quot;,&quot;subject&quot;:&quot;null&quot;,&quot;product
_code&quot;:&quot;FAST_INSTANT_TRADE_PAY&quot;}">
<input type="submit" value="????" style="display:
block" >
</form>
<script></script>
    </div>
</body>
</html>